{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Write / Eroice</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'write/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    {% include 'navbar.html' %}
    <div style="margin-top: 50px;" class="container">
        <div style="padding: 8rem 0 8rem 0">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">{{ form.title.label }}</label>
                    {{ form.title }}
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">{{ form.story.label }}</label>
                    {{ form.story }}
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">{{ form.genre.label }}</label>
                    {{ form.genre }}
                    <div class="form-text">Hold down “Control”, or “Command” on a Mac, to select more than one.</div>
                </div>
                <button type="submit" class="btn btn-primary">Publish!</button>
            </form>
        </div>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Eroice 2021</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'write/js/scripts.js' %}"></script>
</body>

</html>