.container {
  max-width: 600px;
  padding: 0 1rem 0 1rem;
}


@media (min-width: 640px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 850px;
  }
}